<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Users Dashboard</title>
</head>
<body>
    <h1>Crie seu novo usuário</h1>
    <form action="/post" method="post">
        <label for="title">Nome:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Email:</label>
        <textarea id="content" name="content" required></textarea><br>
        <button type="submit" class="create-button">Criar usuário</button>
    </form>

    <h2>Usuários</h2>
        <ul>
            {% for post in posts %}
                <li>
                    <strong>{{ post.Title }}</strong>: {{ post.Content }} (Created at: {{ post.created_at }})
                    <form method="POST" action="/delete/{{ post.Id }}">
                        <button type="submit" class="delete-button">Deletar</button>
                    </form>
                    <a href="/edit/{{ post.Id }}">Editar</a>
                </li>
            {% endfor %}
        </ul>
</body>
</html>
