body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
.container {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 120px;
    background-color: rgb(178, 178, 178);
    border-radius: 50px;
}
h1 {
    text-align: center;
    color: #000000;
}
.post {
    background-color: lightslategrey;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    border-radius: 50px;
}
h2 {
    color: #333;
}
p {
    line-height: 1.6;
}
.form-container {
    background-color: lightslategrey;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-container h2 {
    text-align: center; 
}
.create-user-form {
    text-align: center; /* Centraliza os elementos dentro do form */
}
.create-user-form label,
.create-user-form input[type="text"],
.create-user-form input[type="email"] {
    width: 80%; /* Define a largura das caixas de entrada */
    margin: 10px auto; /* Adiciona margem para centralizar */
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
/* input[type="submit"]:hover {
    background-color: #45a049;
} */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}
.edit-button, .delete-button, .submit-button {
    border-radius: 0; /* Remove o arredondamento dos botões */
}
.edit-button{
    background-color: #004be0;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    width: 70px; /* Definindo a largura fixa */
    text-align: center; /* Alinhando o texto ao centro dentro do botão */
}
.delete-button {
    background-color: #e00000;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    width: 90px; /* Definindo a largura fixa */
    text-align: center; /* Alinhando o texto ao centro dentro do botão */
}
.submit-button {
    background-color: #4CAF50;
    display: block;
    margin: 10px auto;
    border-radius: 0;
}

